server {
         listen 80;
         listen [::]:80 ipv6only=on;

         # Log files for Debugging
         access_log /var/log/nginx/dreambox_restream-access.log;
         error_log /var/log/nginx/dreambox_restream-error.log;

         # Webroot Directory for Laravel project
         root /home/vagrant/dreamboxrestream/public;
         index index.php index.html index.htm;

         # Your Domain Name
         server_name dreamboxrestream.box;

         location / {
                 try_files $uri $uri/ /index.php?$query_string;
         }

         # PHP-FPM Configuration Nginx
         location ~ \.php$ {
                 try_files $uri =404;
                 fastcgi_split_path_info ^(.+\.php)(/.+)$;
                 fastcgi_pass unix:/run/php/php-fpm.sock;
                 fastcgi_index index.php;
                 fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                 include fastcgi_params;
         }
 }
